<hr>
<header>
  <a-m-ngrx-header-container></a-m-ngrx-header-container>
</header>
<hr>
<main>
  <a-m-ngrx-telegraf-main-container></a-m-ngrx-telegraf-main-container>
  <!--<h2>Place title</h2>

  <article>
    <h2>Add some article title section here </h2>
    <details open>
      <summary>Add some article here </summary>
      <pre>
        <p>Try to use ngfor for show list of articles!</p>
      </pre>
    </details>
  </article>-->
</main>

<hr>
<footer>
  <a-m-ngrx-footer-container></a-m-ngrx-footer-container>
</footer>
