/*
 * Remove template code below
 */
:host {
  display: block;
  font-family: sans-serif;
}

.flex {
  align-items: center;
  display: flex;
  justify-content: center;
}

.page-container {
  position: relative;
  min-height: 100vh;
}
